body{
    display: block;
    margin: 8px;
}
.Wrapper{
    background:url(./projectAssets/backgrounds-20210503T131634Z-001/backgrounds/landing.jpg); 
    width:100%; 
    height:400px;
    background-repeat: no-repeat;
    background-size: cover;
}

.backgroundImage{
    display: flex;
    justify-content: center;
    width:100%; 
    height:100%;
}
.backgroundImage, span{
    margin-top: 3%;
}
.backgroundImage, span, p{
    font-size: x-large;
    font-family:fantasy;
    color: whitesmoke;
}
.container{
    display: flex;
    width:100%; 
    height: 200px;
      
} 

section {
    background:url(./projectAssets/fastFood2.jpg); 
    width:319px; 
    height:200px;
    background-repeat: no-repeat;
  }
  
  /* div {
    background-color: rgb(145, 2, 0, 0.4);
    width:319px; 
    height:200px;
    
  } */
  section {
    background:url(./projectAssets/fastFood2.jpg); 
    width:319px; 
    height:200px;
    background-repeat: no-repeat;
  }
  
  /* div {
    background-color: rgb(145, 2, 0, 0.4);
    width:319px; 
    height:200px;
    
  } */
  section {
    background:url(./projectAssets/fastFood2.jpg); 
    width:319px; 
    height:200px;
    background-repeat: no-repeat;
  }
  
  /* div {
    background-color: rgb(145, 2, 0, 0.4);
    width:319px; 
    height:200px;
     */
  /* } */
  section {
    background:url(./projectAssets/fastFood2.jpg); 
    width:319px; 
    height:200px;
    background-repeat: no-repeat;
  }
  .container2{
    margin-top: 10%;
    display: flex;
    width: 80%;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background: url(./projectAssets/backgrounds-20210503T131634Z-001/backgrounds/foodsBg.jpg);
  }
  .drinks{
  display: block;
    margin-top: 3%;
    width: 90%;
   
    height:90%;
    background-color: white;
  }
  /* .tabText, p{
   margin-top: 50px;
    margin-left: 0px;
  } */
  .wrapper3{
    width:100%; 
    display: flex;
    justify-content: center;
    height:400px;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(19, 18, 18);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  .active {
    background-color: #f3f3f3;
  }
  .contentBody{
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-top: 4%;
  }
  .section4{
    margin: 20px;

  }
  .clientsFeedBack{
    display: flex;
    background-color: white;
    min-height: 50%;
    margin-top: 20%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 12%;
    justify-content: center;
    border-style: solid;
    
  }
  ul{
    background-color: gray;
  }
  

footer{
	position: fixed;
	bottom: 0;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}


.footer-distributed{
  display: flex;
  justify-content: center;
	background-color: #bd1717;
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-top{
  background-image: url(./projectAssets/backgrounds-20210503T131634Z-001/backgrounds/subscribe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
	vertical-align: top;

}
.footer-distributed .footer-center{
	display: inline-block;
	vertical-align: top;
}



.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}


.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}


/* Footer Right */





.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}








  /* div {
    background-color: rgb(145, 2, 0, 0.4);
    width:319px; 
    height:200px;
    
  } */
  

/* .card1{
    background:url(../projectAssets/fastFood2.jpg); 
    background-repeat: no-repeat;
    margin-top: 0px;
    width: 320px;
}
.content1{
    background-color:rgba(231, 33, 59, 0.4); 
   
  
}
.card2{
    background-color: yellowgreen;
    margin-top: 0px;
    width: 320px;

}
.card3{
    background-color: yellowgreen;
    margin-top: 0px;
    width: 320px;

}
.card4{
    background-color: yellowgreen;
    margin-top: 0px;
    width: 320px;

} */
/* .roundedElement{
    margin-top: 10%;
    position: relative;
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
    background-image: url('../projectAssets/logoBig.png');
    background-repeat: no-repeat;
    background-size: 200px 200px;
} */
/* .backgroundImage{
    min-height: 500px;
    width: 100vw;
    position: relative;
} */ 
/* 
.content2{
  margin-top: 1%;
  height: 70px;
  width: 70px;
  position: relative;
  border-radius: 50%;
  background-color: darkslategrey;
 justify-content: center;
}
.divContent{
    min-height: 100px;
    margin: 70px;
    background-color: darkkhaki;
    width: 400px;
    box-shadow: 10px 6px #888888;
}
.menuDetails{
    min-height: 500px;
    display: flex;
    justify-content: center;
}
.menuItems{
    height: 100px;
    width: 100px;
    margin: 30px;
    border-radius: 50%;
    background-color: darkslategrey;
} */
